trunk/source/UtilitiesLayer/Service References/ServiceTrack_GoogleAPI/Track_GoogleAPI.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetGoogleETA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pObject" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGoogleETAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetGoogleETAResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>